/* ==================================
Defining global variables
=================================== */

/* import fonts */

:root {
    }

.img-responsive {
    max-width: 100%;
    height: auto;
    display: block;
}
.outlined {
    border: 1px darkgrey solid;
}

html {
    overflow-x:hidden !important;
}


/* ==================================
Defining grid
=================================== */

html {
    box-sizing: border-box;
}

body {
    margin-left: auto;
    margin-right: auto;
    /*font-size: 16px;*/
}

*, *:before, *:after {
    box-sizing: inherit;
}

.parent-container {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.row:before, .row:after {
    content: "";
    display: table;
    clear: both;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    padding-right: 15px;
    padding-left: 15px;
    float: left;
}

.col-1 {
    width: 8.33333%;
}

.col-2 {
    width: 16.666667%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.3333%;
}

.col-5 {
    width: 41.6667%;
}

.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.333%;
}

.col-8 {
    width: 66.66667%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.333%;
}

.col-11 {
    width: 91.6667%;
}

.col-12 {
    width: 100%;
}


/* ================================
    offset grid features
    ============================= */

.offset-1 {
    margin-left: 8.33333%;
}

.offset-2 {
    margin-left: 16.666667%;
}

.offset-3 {
    margin-left: 25%;
}

.offset-4, .offset-41 {
    margin-left: 33.3333%;
}

.offset-5 {
    margin-left: 41.6667%;
}

.offset-6 {
    margin-left: 50%;
}

.offset-7 {
    margin-left: 58.333%;
}

.offset-8 {
    margin-left: 66.66667%;
}

.offset-9 {
    margin-left: 75%;
}

.offset-10 {
    margin-left: 83.333%;
}

.offset-11 {
    margin-left: 91.6667%;
}

.inner-grid {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.column {
    width: calc((100% - 20px * 12) / 12);
    height: 80px;
    margin-right: 10px;
    margin-left: 10px;
    background: rgba(0, 0, 255, 0.25);
    float: left;
}


/* ==================================
Defining Typography
=================================== */


/* ==================================
Responsive design - defining breakpoints
=================================== */

@media only screen and (max-width: 320px) {
    .col-1 {
        width: 100%;
    }
    .col-2 {
        width: 100%;
    }
    .col-3 {
        width: 100%;
    }
    .col-4 {
        width: 100%;
    }
    .col-5 {
        width: 100%;
    }
    .col-6 {
        width: 100%;
    }
    .col-7 {
        width: 100%;
    }
    .col-8 {
        width: 100%;
    }
    .col-9 {
        width: 100%;
    }
    .col-10 {
        width: 100%;
    }
    .col-11 {
        width: 100%;
    }
    .offset-1, .offset-2, .offset-3, .offset-4, .offset-41, .offset-5, .offset-6, .offset-7, .offset-8, .offset-9, .offset-10, .offset-11, .offset-12 {
        margin-left: 0;
    }


}

@media only screen and (max-width: 540px) and (min-width: 320px) {
    .col-1 {
        width: 100%;
    }
    .col-2 {
        width: 100%;
    }
    .col-3 {
        width: 100%;
    }
    .col-4 {
        width: 100%;
    }
    .col-5 {
        width: 100%;
    }
    .col-6 {
        width: 100%;
    }
    .col-7 {
        width: 100%;
    }
    .col-8 {
        width: 100%;
    }
    .col-9 {
        width: 100%;
    }
    .col-10 {
        width: 100%;
    }
    .col-11 {
        width: 100%;
    }
    .offset-1, .offset-2, .offset-3, .offset-4, .offset-41, .offset-5, .offset-6, .offset-7, .offset-8, .offset-9, .offset-10, .offset-11, .offset-12 {
        margin-left: 0;
    }

}

@media only screen and (max-width: 690px) and (min-width: 541px) {
    .col-1 {
        width: 33.333%;
    }
    .col-2 {
        width: 33.333%;
    }
    .col-3 {
        width: 50%;
    }
    .col-4 {
        width: 100%;
    }
    .col-5 {
        width: 100%;
    }
    .col-6 {
        width: 100%;
    }
    .col-7 {
        width: 100%;
    }
    .col-8 {
        width: 100%;
    }
    .col-9 {
        width: 100%;
    }
    .col-10 {
        width: 100%;
    }
    .col-11 {
        width: 100%;
    }
    .col-12 {
        width: 100%;
    }
    .offset-1, .offset-2, .offset-3, .offset-4, .offset-5 {
        margin-left: 0%;
    }
    .offset-6, .offset-7, .offset-8, .offset-8, .offset-9 {
        margin-left: 50%;
    }
    .offset-10, .offset-11, .offset-12 {
        margin-left: 65%;
    }
}

@media only screen and (max-width: 768px) and (min-width: 690px) {
    .col-1 {
        width: 33.333%;
    }
    .col-2 {
        width: 33.333%;
    }
    .col-3 {
        width: 50%;
    }
    .col-4 {
        width: 100%;
    }
    .col-5 {
        width: 100%;
    }
    .col-6 {
        width: 100%;
    }
    .col-7 {
        width: 100%;
    }
    .col-8 {
        width: 100%;
    }
    .col-8.hovering {
        width: 100%;
    }
    .col-9 {
        width: 100%;
    }
    .col-10 {
        width: 100%;
    }
    .col-11 {
        width: 100%;
    }
    .col-12 {
        width: 100%;
    }
    .offset-1, .offset-2, .offset-3, .offset-4, .offset-41, .offset-5 {
        margin-left: 0%;
    }
    .offset-6, .offset-7, .offset-8, .offset-8, .offset-9 {
        margin-left: 50%;
    }
    .offset-10, .offset-11, .offset-12 {
        margin-left: 65%;
    }
}

@media only screen and (max-width: 810px) and (min-width: 768px) {

}

@media only screen and (max-width: 900px) and (min-width: 810px) {

}

@media only screen and (max-width: 909px) and (min-width: 810px) {

}

@media only screen and (max-width: 970px) and (min-width: 910px) {

}

@media only screen and (min-width: 970px) {
}